.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}


/*header*/
.header{
    background: #000000;
}
.header .conteiner{
    display: flex;
    align-items: center;
}

.header__nav {
width: 570px;
display: flex;
justify-content: space-between;
margin: 0px 170px 0px 471px;


}
.header__nav a{

    width: 113px;
    font-family: 'Open Sans';
        font-weight: 600;
        font-size: 14px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

}

.header__logo{
    width: 183px;
    margin-left: 115px;
padding: 23px 96px 21px 0px;
}

/*main*/
.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;

}
.main .conteiner{
display: flex;
}
.main{
    background-image:url(../IMG/image.png);
}
.main__wraper{
    margin-left: 170px;
}

.main__logo img{
width: 270px;
padding: 23px 100px 22px 0px;
margin-top: 207px;

}


.main__title{
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 48px;
        display: flex;
        margin-top: 51px;
        color: #FFFFFF;
        margin-bottom: 55px;
}
.main__line {
    width: 170px;
    border: 1px solid #FFFFFF;
}
.main__text{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        color: #FFFFFF;
        margin: 42px 0px ;
}

.main__btn{
    width: 270px;
    font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        background: local;
        border: 2px solid #FFFFFF;
        margin-bottom: 185px;
}

.main__form{

    background-color: #7c7979;
    width: 470px;
    height: 450px;
    margin: 207px 170px 293px 30px;
}













/*раздел awesome*/
.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
.awesome__title{
    padding-top: 50px;
        font-family: Raleway;
        font-weight: 400;
        font-size: 36px;
        font-style: normal;
        line-height: 42px;
        text-align: center;
        margin: 50px auto 40px;
        color: #000000;
        justify-content: center;
}
.awesome__line{
        margin: 0 auto;
        width: 170px;
        border-bottom: 1px solid #ea9393

}
.awesome__text{

font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 40px auto 110px;
    color: #86878B;


}
.awesome__wraper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    color: #000000;

}
.awesome__item__name{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 40px 0px;
    text-align: center;
}
.awesome__item__info{
    font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-top: 8px;
        
}

/*раздел options*/

.conteiner {
    max-width: 1170px;
        padding: 0 15px;
        margin: auto;
}
.options{
        background: #F5F5F5;
        padding: 50px;
        margin-top: 58px;
}

.options__title{
    padding: 50px ;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;

}
.options__line {
    margin: 0 auto;
    width: 170px;
    border-bottom: 1px solid #ea9393
}

.options__text{

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #86878B;
text-align: center;
margin:40px 0px 59px 0px;
}

.options__wraper{
display: flex;
justify-content: center;
gap: 30px;
}

.options__wraper__name{
    align-items: center;
        width: 370px;
padding: 15px 0px;
background: #333333;
    border: 2px solid #F5F5F5;
font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-align: center;
}
.options__wraper__price{
        width: 370px;
        background: #333333;
        border: 2px solid #F5F5F5;
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #FFFFFF;
            text-align: center;
            padding: 30px 0px;
}
.options__wraper__discount{
width: 370px;
background: #333333;
    border: 2px solid #F5F5F5;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
            padding: 15px 0px;
}
.options__wraper__item li{
    width: 370px;
    background: #FFFFFF;
        border: 2px solid #F5F5F5;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #86878B;
        text-align: center;
        padding: 15px 0px;
}
.options__wraper__offer__medium{
    margin-top: -20px;

}

/*раздел comments*/
.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
.comments__title{
    font-family: 'Raleway';
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        margin-top: 50px;
        margin-bottom: 40px;
        text-align: center;
        padding: 30px;
}
.comments__line {
    margin: 0 auto;
    width: 170px;
    border-bottom: 1px solid #ea9393
}
.comments__text{
    font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
color: #86878B;     
        padding: 38px 0px;
}

.comments__wraper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 70px;
    
}
.comments__review{
    width: 370px;
    padding: 38px 0px 37px 0px;
    font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #86878B;
        background: #E2E2E2;
        border-radius: 10px;
        text-align: center;
        position: relative;
}



.comments__review::after{
content: url(../img/Polygon.png);
position: absolute;
left: 70px;
bottom: -23px;
}



.wraper__block{
    flex-direction: column;
}
.comment__item{
    display: flex;
    margin-top: 46px;
}
.comment__avatar{
margin-right: 30px;
border-radius: 50%;
}
.comments__username{
    padding: 10px 0px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
}


.commets__profession{
    font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        padding-right: 10px ;
        margin-top: 15px;
        margin-bottom: 70px;
}

/*раздел baner*/

.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
.baner{
    color: #FFFFFF;
    background: url(../IMG/image1.png);
}
.baner__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    align-items: center;
    padding: 60px;
}

.baner__line {
    margin: 0 auto;
    width: 170px;
    border: 1px solid #FFFFFF;
}

.baner__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 40px 0px 73px 0px ;

}

.baner__btn {
    width: 370px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: local;
    border: 2px solid #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 22px 130px;
    display:block;
    margin:auto;
}



/*раздел footer*/
.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
.footer{
background: #000000;

}
.footer__icons{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
    gap: 43px;
    justify-content: center;

}
.footer__icons img{
        margin-top: 40px;
}
.footer__data{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);

}